@using CosmeticsStore.Models;

@model  News
@{
    ViewBag.Title = "Tin tức";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

<link href="~/Content/Site/assets/css/Post.css" rel="stylesheet" />
<div class="main">
    <div class="grid wide">
        <div class="postWrap">
            <div class="main__taskbar">
                <div class="main__breadcrumb">
                    <div class="breadcrumb__item">
                        <a href="@Url.Action("Index","Home")" class="breadcrumb__link">Trang chủ</a>
                    </div>
                    <div class="breadcrumb__item">
                        <a href="@Url.Action("NewList","Post")" class="breadcrumb__link">Danh sách tin tức</a>
                    </div>
                    <div class="breadcrumb__item">
                        <a href="#" class="breadcrumb__link">Tin tức</a>
                    </div>
                </div>
            </div>
            <h1 class="post-heading"> @Model.Name</h1>
            @Html.Raw(Model.Content)
        </div>
    </div>
</div>


